:root {
    --primary-color: #00bed8;
    --border-grey: #ddd;
    --text-color: #000000;
    --white-color: #ffffff;
    --backgound-text-grey: rgba(245, 241, 241,0.5);

    --header-height: 9rem;
    --slider-height: 712px;
}
body {
    background: url(../img/h-prl-one_bg.jpg) no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    /* overflow-x: hidden;  */
    /* min-height: 10000px;  */
}
.overflowHiddenY{
    overflow-y: hidden;
}

/* header top  */
.app {
    width: 100%;
}
.app__header{
    position: relative;
    top: 0; left: 0; right: 0; bottom: 0;
    height: var(--header-height);
    z-index: 3;
    background-color: var(--white-color);
    letter-spacing: 1px;
}

.header__menu{
    height: 9rem;
    align-items: center;
}
.header__logo{
    width: 30%;
    display: flex;
    align-items: center;
}
.header__item__logo{
    width: 233px;
    height: 44px;
}
.header__menu__item{
    height: 100%;
}
.header__menu__item__inner{ 
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.header__menu__list{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    position:  relative;
}
.header__search::before{
    content: '';
    display: inline-block;
    background-color: var(--border-grey);
    width: 2px;
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}
.header__list__item{
    display: flex;
    align-self: center;
    height: 100%;
    position: relative;
}
.header__list__item .header__item__link{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    align-self: center;
}
.header__icon__angle{
    padding-left: 4px;
    font-size: 0.9rem;
}
.header__icon__search {
    position: relative;
    z-index: 3;
    font-size: 2.2rem;
    padding: 16px 32px;
}
.header__list__item--active .header__item__link{
    color: var(--primary-color);
}
.header__list__item .header__icon__angle{
    transition: transform 0.5s ease-in-out;
    transform-origin: 75% 50%;
}
.header__list__item:hover .header__icon__angle{  
    transform: rotate(180deg);
}
.header__list__item:hover .header__item__link{
    color: var(--primary-color);
}
.header__list__item:hover .header__select{
    display: block;
    transform: scaleY(100%);
}



.header__select{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--white-color);
    width: 19rem;
    transform: scaleY(0);  
    transition: all 0.2s ease-in-out;  
    transform-origin: 50% 0%;
    font-size: 1.2rem;
}
@keyframes appear {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(100%);
    }
}
.header__select__list{
    list-style-type: none;
}
.select__list__item{
}
.select__list__item a:first-child{
    border-top: 1px solid var(--border-grey);
}
.select__list__item a{
    text-transform: none;
    font-weight: 400;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 11px 12px;
    font-size: 1.4rem;
    opacity: 0.9;
    border-bottom: 1px solid var(--border-grey);
}
.select__list__item:hover a{
    color: var(--primary-color);
    background-color: rgba(245, 241, 241,0.5);    
}

.header__search__box{
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    width: 38rem;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.header__search__box--open{
    display: block;
}
.header__search__box::after{
    content: '';
    position: absolute;
    top: -8px;
    right: 2rem;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-top: none;
    border-left: none;
    transform: rotateZ(135deg);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.header__search__box::before {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 13px;
    width: 33px;
    height: 18px;
    border-style: solid;
    background-color: white;
    border: none;
}
.header__search__box__inner{
    padding: 16px;
}
.header__box__heading{
    padding: 16px 0px;
    border-bottom: 1px solid var(--border-grey);
    opacity: 0.7;
}
.header__box__input__inner{
    padding: 16px 0px;
    display: flex;
}
.header__box__input{
    padding: 13px 16px;
    font-size: 1.6rem;
    flex: 1;
    background-color: rgb(246, 247, 248);
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
} 
.header__box__input:focus{
    border: 1px solid var(--primary-color);
    border-right: none;
    background-color: var(--white-color);
}
.header__box__icon__search{
    font-size: 2rem;
    padding: 13px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.header__box__icon__search:hover{
    cursor: pointer;
}

 /* END HEADER  */

/* 
        CONTENT  
        
*/

.app__content{
    color: white;
    min-height: 2000px; 
    background-color: transparent   ;
}
.carousel-item {
}
.carousel-item-text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item-text-inner{
    width: 91rem;
    font-family: 'Quicksand', sans-serif ;
    font-size: 1.4rem;
    transform: translateY(100%);
    transition: appearUp 0.8s linear;
    animation: appearUp 0.8s forwards ;
    opacity: 0.5;
}
@keyframes appearUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.carousel-indicators li {
    --height-dot: 1.5rem;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: var(--height-dot);
    height: var(--height-dot);
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: var(--primary-color);
}

.carousel-indicators{
    margin-bottom: 40px;
}
.carousel-indicators li:not(:last-child){
    margin-right: 2rem;
}

.carousel-indicators .active{
    background-color: var(--primary-color);
}
.carousel-indicators .active::after {
    content: "";
    position: absolute;
    top: -30%;
    left: -33%;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0.5;
    width: calc(var(--height-dot) + 1rem);
    height: calc(var(--height-dot) + 1rem);
}

.carousel-indicators li::before {
    position: none;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-control-prev-icon{
    --height-prev: 4rem;
    margin-right: 50%;
    width: var(--height-prev);
    height: var(--height-prev);
    transition: all 0.2s ease-in-out;
}
.carousel-control-prev-icon:hover{
    margin-right: 59%;
    opacity: 0.5;
}
.carousel-control-next-icon{
    --height-prev: 4rem;
    margin-left: 55%;
    width: var(--height-prev);
    height: var(--height-prev);
    transition: all 0.2s ease-in-out;
}
.carousel-control-next-icon:hover{
    margin-left: 60%;
    opacity: 0.5;
}
.carousel-control-next{
    padding-right: 0px;
}

.carousel-item-img{
    width: 100%;
    height: 100%;
}

.carousel-item-text-inner .carousel-item-text-heading{
    font-weight: bold;
    font-size: 50px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 24px;
}
.carousel-item-text-inner p{
    line-height: 1.7;
    margin-bottom: 30px;
}

 /* Content introduce  */
 .introduce {
    background-color: #f6f7f8;
    color: black;
    font-size: 1.5rem;
 }
 .introduce .grid {
    padding-top: 9rem;
 }
.introduce__inner{
    display: flex;
}
.introduce__boxLeft {
    text-align: right;
}
.introduce__boxLeft p{
    font-size: 2.4rem;
}
 .introduce__boxLeft h2{
    font-size: 3.2rem;
    font-weight: 700;
 }
 .introduce__boxRight{
    font-size: 1.4rem;
    padding: 35px 0px 35px 30px;
    border-left: 2px solid rgb(126, 126, 126);
 }
 .boxRight__text{
     width: 100%;
     margin-bottom: 20px;
 }
 .boxRight__text h4{
     font-size: 1.5rem;
     display: inline-block;
     font-weight: bold;
 }

.experience{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 20px 0px;
    padding: 0px 20px;
    border-right: 1rem solid var(--primary-color);
}
.experience__text{
     color: #e0dfdf;
}
.experience__year{
    font-size: 7rem;
    font-weight: bold;
    text-transform: uppercase;
}
.experience__work{
    color: var(--text-color);
    text-align: right;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
}
/* content service  */
.service{
    background-color: var(--white-color);
    color: black;
    font-size: 1.5rem;
    padding: 9rem 0px;
}

.service__heading{
    font-weight: bold;
    padding-left: 15px;
    font-size: 3.4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.service .service__project{
    display: flex;
}
.service__project__inner{
    cursor: pointer;
}
.service__project__img{
    width: 100%;
    height: 35.6rem;
    position: relative;
    overflow: hidden; 
}
.service__project__inner .service__project__img::before{
    content: '';
    position: absolute;
    bottom: 100%;
    right: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
}
.service__project__inner .service__project__img::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
}
.service__project__inner:hover .service__project__img::before{
    bottom: 0%;
    right: 0%;
}
.service__project__inner:hover .service__project__img::after{
    top: 0%;
    left: 0%;
}

.service__project__img img{
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    transition: 1s ease-in-out;
}
.service__project__inner:hover img {
    transform: scale(110%);
}
.service__project__heading{
    font-weight: bold;
    margin: 20px 0px;
}
.service__project__inner:hover .service__project__heading{
    color: var(--primary-color);
}

/* introduce  */
.introduce__question {
    font-size: 3.4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.boxLeft__img{
    height: 37rem;
    padding: 0px 0px 10px 10px;
    background-color: transparent;
    background-image: url(../img/h-about_banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.introduce__question .introduce__boxLeft{
    width: 40rem;
}
.introduce__boxLeft{
    position: relative;

}
.introduce__boxLeft__img::after{
    content: '';
    height: 35rem;
    width: 40rem;
    position: absolute;
    top: 23px;
    left: -20px;
    background-color: var(--primary-color);
}
.introduce__answer{
    margin-top: 5rem;
    padding: 0px 15px 0px 70px;
    
}
.introduce__answer .introduce__boxRight{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2rem;
}
.introduce__answer__text{
    margin-bottom: 20px;
}
/* parallax  */
.parallax{
    background-color: rgba(0,0,0,0.3);
    color: var(--white-color);
    padding: 9rem 0px;
    font-size: 1.4rem;
}
.parallax__info{
    text-align: center;
}
.parallax > .grid__row {
    height: 37rem;
}
.parallax .parallax__info__num{
    font-size: 4rem;
    font-weight: bold;
}
.parallax__text {
    padding: 8rem 3rem 8rem 5rem;
    border: 10px solid var(--white-color);
    border-left: none;
    position: relative;
}
.parallax__text::before{
    content: '';
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 10px solid var(--white-color);
}
.parallax__text::after{
    content: '';
    height: 38%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 10px solid var(--white-color);
}
.parallax__text1{
    font-size: 2.4rem;
}
.parallax__text2{
    font-size: 3.4rem;
    font-weight: bold;
}
.parallax__text3{

}
.parallax__text1,
.parallax__text2,
.parallax__text3{
    margin-bottom: 15px;
}
.parallax__info__hr{
    width: 5rem;
    height: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: var(--white-color);
}
/* policy  */
.policy {
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 9rem 0px;
    font-size: 1.4rem;
}
.policy__item{
    text-align: center;
}
.policy__icon{
    --height-poli-icon: 8rem;
    width: var(--height-poli-icon);
    height: var(--height-poli-icon);
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.policy__icon img{
    --height-poli-img: 50%;
    width: var(--height-poli-img);
    height: var(--height-poli-img);
    background-color: var(--primary-color);
}
.policy__heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.policy__hr{
    margin: 0px auto 15px auto;
    width: 6rem;
    height: 0.2rem;
    background-color: var(--primary-color);
}
 /* whatwedo  */
.whatwedo{
    padding: 9rem 0px;
    background-color: #f6f7f8;
    color: var(--text-color);
}
.whatwedo__item{
    margin-bottom: 2rem;
}
.whatwedo__item__heading{
    font-size: 14px;
    font-weight: bold;
}
.whatwedo__item__numberframe{
    font-size: 1.6rem;
    font-weight: bold;
    width: 51rem;
    height: 3rem;
    display: flex;
    background-color: rgba(72, 72, 72,0.1);
}
.whatwedo__item__number{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--primary-color);
    color: white;
}
.whatwedo__item__number span{
    margin-right: 1rem;
}
.row__what1{
    --width : 95%;
    width: 0%;
    animation: widthCount 2s forwards;
}
.row__what2{
    --width : 80%;
    width: 0%;
    animation: widthCount 2s forwards;
}
.row__what3{
    --width : 75%;
    width: 0%;
    animation: widthCount 2s forwards;
}
.row__what4{
    --width : 60%;
    width: 0%;
    animation: widthCount 2s forwards;
}
@keyframes widthCount {
    to {
        width: var(--width);
    }
}

.whatwedo__runNum{
    width: 43%;
}
.whatwedo__text{
    flex: 1;
    padding: 0px 30px;
}
.whatwedo__text__heading{
    font-size: 3.4rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.whatwedo__text__des{
    font-size: 1.4rem;
    margin-bottom: 20px;
    
}

 /* blog  */
 .blog {
    padding: 9rem 0px 0px;
    background-image: url(../img/bkg-banner-section.webp);
    background-repeat: repeat;
    background-color: var(--white-color);
 }
 .blog__text__heading{
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);
    padding-left: 1.5rem;
 }
 .blog__project{
    width: 100%;
    overflow: hidden;
    position: relative;
 }
 .blog__project img {
     width: 100%;
     cursor: pointer;
 }
 .blog__project__des{
     background-color: var(--primary-color);
     color: var(--white-color);
     position: absolute;
     bottom: 2.4rem;
     left:2.4rem;
     padding: 2.4rem;
 }
 .blog__des__heading{
     width: 26rem;
     font-size: 1.8rem;
 }
 .blog__des__time{
     font-size: 1.4rem;
     align-items: center;
 }
 .blog .grid__row:not(:last-child){
     margin-bottom: 30px;
 }
 /* video work  */
 .videoWork{
     background-color: #f6f7f8;
     padding: 9rem 0px;
     color: var(--text-color);
     position: relative;
 }

 .videoWork__video{
    width: 54.1rem;
    position: relative;
    cursor: pointer;
 }
  .videoWork__img{
     width: 100%;
     cursor: pointer;
 }
 .videoWork__icon {
     --width-videoWork-icon: 10.8rem;
     width: var(--width-videoWork-icon);
     height: var(--width-videoWork-icon);
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 35%; left: 40%;
     color: var(--white-color);
     font-size: 2.4rem;
     border: 2px solid var(--white-color);
     border-radius: 50%;
 }

 .videoWork__videoup{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.videoWork__videoup iframe{
    width: 80vw;
    height: 90vh;
}

.videoup__icon__exit{
    position: absolute;
    right: 0;
    top:0;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(102, 102, 102, 0.8);
    color: var(--white-color);
    padding: 1rem 2rem;
}
.videoWork .whatwedo__text__heading,.whatwedo__text__des{
    line-height: 1.7;
}
/* contact  */
.contact{
    padding: 9rem 0px;
    background-color: rgba(0,0,0,0.3);
}
.contact .grid__row{
    text-align: center;
    display: block;
    width: 100%;
}
.contact__text{
    line-height: 1.5;
    font-size: 2.4rem;
    font-weight: bold;
}
 /* project  */
.project{
     padding-top: 9rem;
     background-color: var(--white-color);
 }
 .project .grid__row{
     margin-bottom: 3rem;
 }
.project__product{
    width: calc(100% - 3.75px);
    overflow: hidden;
    position: relative;
 }
 .project__product::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    
}
.product__button{
    position: relative;
    z-index: 2;
}
 .project__product:hover::after{
    background-color: rgba(0,0,0,0);
}
.product__img{
    width: 100%;
}
.product__text{
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
}

.product__heading{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
}
.product__text__des{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.product__button {
    width: 18rem;
}
/* marquee  */

.project .grid__row:last-child{
    margin-bottom: 0rem;
    padding-bottom: 3rem;
}
.marque{
    padding: 4rem 0rem ;
    background-color: #f6f7f8;
}
.marque .grid__row{
    padding: 0px;
}
.marque__list{
    display: flex;
}
.mcs-item:hover{
    transform: scale(0.8);
}
.marque a {
    display: none;
}
.mcs-item{
    transition: all 1s ease-in-out;
    width: 4rem;
}
.mcs-item img {
    width: 14rem;
    height: 4rem;
}
.style attribute {
    width: 100%;
    height: 60px;
}
.mcs-items-container {
    width: 100%;
    height: 100%;
}

.mcs-item {
    height: 100%;
}
.mcs-items-container {
    width: 100%;
    height: 50%; 
}
.mcs-items-container {
    width: 100%;
    height: 100%; 
}

/* 
          
            FOOTER   
            
*/

.app__footer{
    background-color: var(--white-color);
}
.footer__list{
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(189, 189, 189,0.5);
}
.footer__item {
    align-self: baseline;
    
}
.footer__item__heading{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.footer__item__des,.footer__text__heading,.footer__list__text{
    font-size: 1.4rem;
    line-height: 2;
}
.footer__text__heading{
    font-weight: bold;
    display: inline-block;
}
.footer__checked{
    width: 50%;
    margin: 2rem 0;
}
.footer__checked img{
    width: 100%;
}
.footer__contact{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
.footer__contact__item{
    position: relative;
    z-index: 2;
    font-size: 1.4rem;
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
    color: var(--white-color);
    transition: all 0.2s linear ;
}
.footer__contact__item:hover .fab{
    background-color: var(--white-color);
    color: var(--text-color);
    border: 0.5rem solid  #00bed873;
    cursor: pointer;
}
.footer__contact__item .fab{
    position: relative;
    z-index: 2;
    padding: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 50%;   
    transition: all 0.2s linear ;
}
.footer__contact__item .fa-facebook-f{
    padding-left: 14.5px;
    padding-right: 14.5px;
    margin-left: -1rem;
}
.footer__btn{
    width: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;

}
.footer__btn a{
    padding: 12px 28px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    text-decoration: none;
    color: var(--white-color);
}
.footer__btn .fa-angle-up{
    font-size: 3rem;
}
.footer__copyright{
    height: 10rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__list__text:hover{
    color: var(--primary-color);
    cursor: pointer;
}